@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font01: Arial, Verdana, sans-serif;
    --font02: "Yellowtail", sans-serif;
}

main {
    max-width: 70em;
    margin: auto;
    background-color: #000008;
    border-radius: 15px;
    box-shadow: 5px 10px 20px 10px #a80f2383;
    margin-top: 20px;
}

body {
    background-color: #DB142E;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 5vw;
    min-height: 40vh;
}

header > picture > img {
    width: 140px;
    height: 140px;
    object-fit: cover;
}

header .title {
    display: flex;
    flex-direction: column;
}

header > div > h1 {
    font-family: var(--font02);
    font-variant: small-caps;
    font-size: 5vw;
    color: #DB142E;
}

header > div > h2 {
    font-family: var(--font02);
    font-variant: small-caps;
    font-size: 4vw;
    font-weight: normal;
    color: white;
}

.menu {
    background-color: #DB142E;
    padding: 0.7vw;
    align-items: center;
    text-align: center;
    font-family: var(--font01);
}

.menu > a {
    text-decoration: none;
    color: white;
    padding: 0.7vw 1vw;
}

.menu > a:hover {
    background-color: #da5869;
    color: #790a19;
    font-weight: bold;
}

.galeria {
    column-width: 250px;
    column-gap: 15px;
    padding: 15px;
}

.galeria > img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 6px;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    display: block;
}

.galeria > img:hover {
    border-radius: 20px;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #000008;
    margin-top: 3vw;
    padding: 5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    display: flex;
    gap: 1rem;
}

.social {
    width: 3vw;
    height: 3vw;
}

footer > p {
    color: white;
    font-family: var(--font01);
    font-size: 2.5vw;
}